{% set tpl_body_classes = 't-portfolio' %}
{% set page_title = page.header.headline|default( page.title ) %}
{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="blog">

    <div class="wrapping">
        <h1 class="headline">
            {{ page_title }}
        </h1>
    </div>

    <div class="reference__list">
    {% for post in page.collection() %}
        {% if post.header.url matches '~^\/|^https?:\/\/~' %}
            {% set post_url = post.header.url %}
        {% else %}
            {% set post_url = post.media[post.header.url].url %}
        {% endif %}
        <article class="reference" id="{{ post.title|hyphenize }}">
            <a class="reference__image__link" href="{{ post_url }}" target="_blank" rel="noopener">
                {{ post.media[post.header.image].html( null, null, 'reference__image' )|raw }}
            </a>
            <div class="reference__info">
                <h2 class="reference__title">
                    <a class="reference__link" href="{{ post_url }}" target="_blank" rel="noopener">
                        {{ post.title }}
                    </a>
                    {% if post.header.disconnected == true %}
                        <small>(offline)</small>
                    {% endif %}
                </h2>
                <div class="textflow">
                    {{ post.content|raw }}
                </div>
            </div>
            <div class="reference__meta">
                <p class="reference__date">
                    {{ post.date|localizeddate( 'none', 'none', site.default_lang, null, 'MM/yyyy' ) }}
                </p>
                <p class="reference__tags">
                    {{ post.taxonomy.service|join( ', ' )|trim}}
                </p>
            </div>
        </article>
    {% endfor %}
    </div>
</div>

{% endblock %}