{% set activeLang = grav.language.getLanguage() %}
{% set pageLang = page.language ? page.language : grav.language.default %}
{% set availableLang = page.translatedLanguages(true) %}

{% if availableLang|length > 1 %}
    <div class="notice notice--extended notice--success">
        {{ svg('language', 'icon icon--language')|raw }}
        <div class="language__options">
            {% for lang in availableLang|keys %}
                {% if lang != activeLang %}
                    {% set url = grav.language.getLanguageURLPrefix(lang) ~ page.rawRoute() %}
                    <p lang="{{ lang }}">
                        <a href="{{ url }}">
                        {{ 'THEME_C.BLOG.TRANSLATED'|tl( [ lang ] )|e }}
                        </a>
                    </p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% elseif pageLang != activeLang %}
    <div class="notice notice--error" lang="{{ activeLang }}">
        <div class="language">
            {{ svg('language', 'icon icon--language')|raw }}
            <div class="language__options">
                {{ 'THEME_C.BLOG.NOT_TRANSLATED'|t|e }}
            </div>
        </div>
    </div>
{% endif %}
